:root {
  --bg-color: white;
  --text-color: black;
  --text-color-focus: #ff6a00bb;
  --info-font-family: Arial, Helvetica, sans-serif;
  --decorative-font: 'OpenSans Regular';
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: var(--info-font-family);
  font-size: 18px;
  line-height: 1.6;
}

main {
  height: 90vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-image: url(./img/yoga-background.webp);
  background-position: center;
  background-size: cover;
}
.content {
  display: flex;
  flex-direction: column;
  height: 30vh;
  width: 25vw;
  margin-left: 20vw;
}

h1 {
  font-size: 2.2em;
  font-family: var(--decorative-font);
  line-height: 1.2;
  margin: 100px, 15px, auto;
  padding-bottom: 1em;
}

h4 {
  display: inline-block;
}

p {
  padding-bottom: 2em;
}

span {
  color: var(--text-color-focus);
}

button {
  width: 50%;
  padding: 1.5em;
  border: none;
  border-radius: 4px;
  color: var(--bg-color);
  background-color: var(--text-color-focus);
  line-height: 0px;
  text-align: center;
  font-family: var(--decorative-font);
}

a {
  text-decoration: none;
}

/* Navbar */

.navbar {
  /* position: fixed; */
  height: 10vh;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: var(--bg-color);
  font-size: 20px;
}
/* Toggle button */

.navbar_toggle {
  margin-left: 5%;
  font-size: 30px;
  color: #ffffff;
  background: transparent;
  border-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
  display: none;
}

.logo_header {
  color: var(--text-color);
  font-family: var(--decorative-font);
  text-decoration: none;
  display: flex;
  font-weight: 400;
  align-items: baseline;
  margin-left: 10vw;
}

.navbar-logo {
  background-image: url(./img/yoga-logo.webp);
  background-position: center;
  background-size: cover;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 0.5em;
}

.main_nav {
  display: flex;
  width: 40%;
  float: right;
  margin-right: 10vw;
  justify-content: space-between;
  list-style: none;
}
.main_nav li:hover {
  color: var(--text-color-focus);
  border-bottom: 2px solid;
  border-color: var(--text-color-focus);
}

.main_nav li {
  display: inline;
  color: var(--text-color);
}
.main_nav li a {
  color: var(--text-color);
  font-family: var(--decorative-font);
}

@media only screen and (max-width: 992px) {
  main {
    margin-top: 10vh;
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image: none;
    background-position: center;
    background-size: cover;
  }
  .content {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin-left: 20vw;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: var(--bg-color);
    font-size: 20px;
  }

  .main_nav {
    display: none;
  }

  .show_nav {
    padding-top: 2%;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
  }

  .main_nav li {
    width: 100%;
    height: 50px;
    font-size: 25px;
    justify-content: center;
    text-align: center;
    padding: 0%;
    background: #fff;
    z-index: 1;
  }
  .navbar_toggle {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 30px;
    color: var(--text-color);
    background: transparent;
    border-color: transparent;
    transition: all 0.3s linear;
    cursor: pointer;
    display: block;
  }
  .logo_header {
    width: 100%;
    justify-content: space-between;
    margin-right: 2%;
  }
}
